<header class="site-header">

  <div class="wrapper">
	<div class="menu card">
		<div class="nav-menu">
			<a id="menu-item" href="{{ site.url }}/about">About</a> |
			<a id="menu-item" href="{{ site.url }}/archive">Archive</a> |
			<a id="menu-item" href="{{ site.url }}/upcoming">Upcoming</a> |
			<a id="menu-item" href="{{ site.url }}/subscribe">Subscribe</a>
		</div>
	</div>

    <a class="site-title" id="top" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
  </div>

  <div class="header-badge">
    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/logo.jpg" />
    </a>
  </div>
  <style>#forkongithub a{background:#363636;color:#fff;text-decoration:none;font-family:"american_typewriter_medium_bt",sans-serif;text-align:center;padding:5px 40px;font-size:1.5rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#c11;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;right:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:250px;overflow:hidden;height:250px;z-index:9999;}#forkongithub a{width:250px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="mailto:simplifydpodcast+web@gmail.com?Subject=Hello">Contact Us</a></span>
</header>
