<header class="site-header">

  <div class="wrapper">
	<div class="menu card">
		<div class="nav-menu">
			<a id="menu-item" href="{{ site.url }}/subscribe">Subscribe</a> |
			<a id="menu-item" href="{{ site.url }}/upcoming">Upcoming</a> |
			<a id="menu-item" href="{{ site.url }}/archive">Archive</a> |
			<a id="menu-item" href="{{ site.url }}/about">About</a>
		</div>
	</div>

    <a class="site-title" id="top" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
  </div>

  <div class="header-badge">
    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/logo.jpg" />
    </a>
  </div>
    
</header>
