{% if page.sharing == "none" %}
	<!-- No Social Media Links Here -->

{% else %}
<!-- Social Media Sharing Links -->

<div class="share-page">
    Spread the love on: 
    <a href="https://www.twitter.com/intent/tweet?text={{ page.title }}%26url=http://simplifyd.xyz{{ page.url }}&amp;&amp;via=simplifydcast" rel="nofollow" target="_blank" title="Share on Twitter"><img src=/assets/icons/twitter.svg></a>
    <a href="https://www.facebook.com/sharer.php?u=http://simplifyd.xyz{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src=/assets/icons/facebook.svg></a>
	<a href="//www.reddit.com/submit" target="_blank" title="Submit to reddit"> <img src=/assets/icons/reddit.svg target="_blank"/></a>
	<a class="tumblr-share-button" href="https://www.tumblr.com/share" target="_blank" title="Share on tumblr"><img src=/assets/icons/tumblr.svg/></a>
	<a href="https://www.pinterest.com/pin/create/button/" target="_blank" title="Pin it"><img src=/assets/icons/pinterest.svg/></a>
</div> 

<!--	<a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="Submit to reddit" border="0" /> </a> <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>&nbsp;&nbsp;<div class="fb-share-button" data-href="http://simplifyd.xyz{{ page.url }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://simplifyd.xyz{{ page.url }}&amp;src=sdkpreparse" rel="nofollow" target="_blank"></a></div> -->
</div>
{% endif %}
