// Font variables
$font-name: "american_typewriter_medium_bt";
$font-path-file-name: /assets/webfonts/american_typewriter_medium_bt;

// font_name font
@font-face {
  font-family: $font-name;
  src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
  src: url($font-path-file-name+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($font-path-file-name+'.woff2') format('woff2'), /* Super Modern Browsers */
       url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
       url($font-path-file-name+'.ttf') format('truetype');} /* Safari, Android, iOS */
