/*------------------------------------------------------------
  Site Style
------------------------------------------------------------*/

.site-header{
    
    text-align: center;    

    .wrapper{
        
        padding-top: 5em;
        padding-bottom: 2em;
        
        .site-title{
			font-family: "american_typewriter_medium_bt";
            text-decoration: none;
            color: $text-color-gray;
            font-size: $big-font-size;
			letter-spacing: 0.01em;
			padding: 15px;
        }
    }
    
    .menu {
		width: 50%;
		margin: -5em auto 30px;
	}

	.nav-menu {
		line-height: 2.5em;
		letter-spacing: 0.2em;
		font-family: "american_typewriter_medium_bt";
		font-size: 1.25em;
	}

	#menu-item {
		padding: 10px;	
	}
    .header-badge{
        border-radius: 50%;
        border: 12px #363636 solid;
        height: 200px;
        width: 200px;
        /*background: url('../assets/home.svg') center center no-repeat #fff;*/
        background-size: 50px 50px;
        display: inline-block;
        margin-bottom: -140px;        
        overflow: hidden;
        transition: $anim-speed; 
        @extend .z-depth-1;
        
        
        img{
            /*object-fit: none; /* Do not scale the image */
            object-position: center; /* Center the image within the element */
            height: 176px;
            width: 176px;
            border-radius: 50%;
            opacity: 1;
            transition: $anim-speed;        
        }        
    }
    
    .header-badge:hover{        
        transition: $anim-speed;   
        @extend .z-depth-5;

        img{         
            opacity: 1;
            transition: $anim-speed;  
        }
        
    }
}

.page-content{ 
    margin: $spacing-unit auto;   
    width: 55%;    
    
    .top{
        
        text-align: center;
        padding: $spacing-unit * 4 $spacing-unit $spacing-unit;       
        
        a.email{
            font-size: 2rem;
            text-decoration: none;
            color: $brand-color;
        }

        p.description{            
            font-size: 2rem;
            text-align: center;
        }
    }
    
    .posts{
		a {
			text-decoration: underline;
		}

        .card-title{
            color: $brand-color;
            display: block;
            width: 100%;
            border-bottom: $brand-color solid 1px;
        }
        
        .post-list{
            margin:0;
            padding:0;
            
            li{
                
                padding: 15px 0;
                border-bottom: #ddd solid 1px;
                
                .post-meta{
                    float:right;
                    color:#808080;
                    font-size: 14px;
                }
                
                a{
                   
                    text-decoration: none;
                    color:#333;
                    font-size: 1.250em*$font-size-multiplier;
                    
                }
            }
        }
        
        .rss-subscribe{
            text-align: center;
            margin-top: 15px;
            
            a{
                text-decoration: none;
                color:$brand-color;
            }
        }
    }
}

.post{
    .card-content{
            padding: 80px 20px;
    }
}

.post-header{
	text-align: center;
	.post-meta{
		margin: 0 10px 0 0;
	}
}
.post-title{
	margin-bottom: 0;
	padding-bottom: 10px;
}
.post-meta{
	margin: 1rem;
}
.footer-heading{
	margin: $spacing-unit auto;
	margin-top: -20px;
	width: 55%;
    display:block;
    text-align: float;
    color: #363636;
    font-size: 1.125em*$font-size-multiplier;
    padding-bottom: 0.5em;
    font-weight: 300;
}
.copyright {
	float: left;
}
.social { 
	float: right;
}
.social img {
	height: 1.125em;
}

@media (min-width: 1367px) {
	.page-content {
		width: 60%;
	}
	.footer-heading {
		width: 60%;
	}
}

@media (max-width: 1050px) {
    .page-content {  
        margin: $spacing-unit 2%;
        width: 96%;
    }
	.footer-heading {  
        margin: $spacing-unit 2%;
        width: 96%;
	}
	.site-header .menu {  
        margin: -5em 2% $spacing-unit;
        width: 96%;
	}
}

@media (max-width: 768px) {
    .footer-heading{  
		text-align: center;
    }
	.social img {
		height: 1.125em;
	}
	.copyright {
		float: none;
	}
	.social {
		float: none;
	}
	.site-header .nav-menu {
		letter-spacing: 0;
	}
}
@media (max-width:360px) {
	.site-header .nav-menu {
		font-size: 1em;
	}
}
.share-page {
	text-align: center;
	padding: 8px 15px;
	margin: 1.5px;
}

.share-page img {
	height: 1.25em*$font-size-multiplier;
}

.subscribe img {
	height: 3.75em*$font-size-multiplier;
	margin: 15px;
	padding: 5px;
}

.subscribe #links {
	text-align: center;
}
